* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

.link {
  color: rgb(46, 150, 185);
  text-decoration: underline;
}

.link:visited {
  color: rgb(46, 150, 185);
}
